In [2]:
import pandas as pd
df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]})
df1
df2
df1+df2

    a   b   c
0  11  44  77
1  22  55  88
2  33  66  99

In [14]:
df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]},
                       index=['row1', 'row2', 'row3'])
df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]},
                       index=['row4', 'row3', 'row2'])
df1
a = []

for one in df1:
    a.append(df1[one].sum())
s = pd.Series(a)
print s

0     6
1    15
2    24
dtype: int64

In [4]:
od = pd.read_csv('titanic-data.csv')
type(od['Survived'])

pandas.core.series.Series